/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 label {
   width: 200px;
 }

#book-form {
  line-height: 2;
}

#book-form input[type="file"] {
    display: inline-block;
}
#messages {
  color: #466B02;
  font-weight: 400;
}
